<table align="center" cellspacing="30" width="100%" height="100%" style="background-color:#f1f1f1;font-family:Open Sans,Helvetica,Arial,sans-serif;font-size:14px;color:black;line-height:20px">
                <tbody><tr>
                    <td align="center" style="vertical-align:top">
                        <table width="600" cellspacing="0" style="text-align:left;background-color:#34a7c1" cellpadding="0" align="center">
                            <tbody><tr>
                                <td height="5" style="height:5px"></td>
                            </tr>
                            <tr>
                                <td>
                                    <table width="100%" style="background:#ffffff" cellspacing="0" cellpadding="25">
                                        <tbody><tr>
                                            <td>
                                                
                    <h1 style="font-size:24px">Welcome to <span class="il">LegalClad</span></h1>
                    Dear <b>{{ username|capfirst }}</b>,
                    <p>Welcome to <span class="il">Legal Clad</span>!</p>
                    <p>Congratulations! You are one step closer to getting highly tailored legal services for you business</p>
                    <p>
                        </p><h2 style="margin:0;font-size:14px">Verify your account by clicking on the link below:</h2>
                        <a href="http://127.0.0.1:8000{% url "law:confirm" activation_key %}" style="color:#34a7c1; text-decoration:none;" target="_blank">
                            <button style="margin:10px;font-size:14px; padding:10px">
                                Confirm account  
                            </button>
                        </a>
                    <p></p>
                    <p>
                       
                        <span style="color:#666666">Username: </span> <a href="https://yeboahmedia.LegalClad" style="color:#34a7c1" target="_blank">{{username}}<span class="il"></a><br>
                        <span style="color:#666666">Login email: </span> <a href="mailto:kwame.yeboah@meltwater.org" target="_blank">{{ user_email }}</a><br>
                        
                    <p></p>
                    <p>
                        </p><h2 style="margin:0;font-size:14px">Where to go from here?</h2>
                        After you verify your account you can sign in to create your first project. You will find short video tutorials to get you started. You may always check out <a href="https://LegalClad/en/learn/" style="color:#34a7c1" target="_blank">learn &amp; support</a> for more tutorials and in-depth information on how <span class="il">LegalClad</span> works. Don't forget to <a href="http://LegalClad/en/demos/" style="color:#34a7c1" target="_blank">have a look at the demos</a> to see examples on what you can do using <span class="il">LegalClad</span>.
                    <p></p>
                    <p>
                        If you have any questions or need help you can visit our <a href="http://support.LegalClad" style="color:#34a7c1" target="_blank">Support Desk</a> or contact us anytime at <a href="mailto:support@LegalClad" style="color:#34a7c1" target="_blank">support@<span class="il">LegalClad</span></a>.
                    </p>

                    <p>Enjoy!</p>
                    
                                                <p style="color:#999999;margin:20px 0 0">The <span class="il">LegalClad</span> Team</p>
                                            </td>
                                        </tr>
                                    </tbody></table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table width="100%" cellspacing="0" cellpadding="25" style="color:white;font-weight:600">
                                        <tbody><tr>
                                            <td>
                                                Get legal cover for your business
                                            </td>
                                            <td style="text-align:right">
                                                <a href="http://LegalClad" style="text-decoration:none" target="_blank"><img src="https://ci3.googleusercontent.com/proxy/XNaopWdY5NePTwXjTr2YPINtTX3BXEiMc06kBGpoerwORC1S0nYka_EHJza8YFLwROocV0_utkEAGmjnpWScH4JEo86K7lYdZWUAwEX0=s0-d-e1-ft#http://static.LegalClad/images/emails/footer-logo-new.png" alt="LegalClad" title="LegalClad" class="CToWUd"></a>
                                            </td>
                                        </tr>
                                    </tbody></table>
                                </td>
                            </tr>
                            <tr>
                                <td style="background-color:#f1f1f1;padding:10px;font-size:12px;color:#666666">
                                    <table>
                                        <tbody><tr>
                                            <td style="padding-bottom:10px">
                                                If you have any questions or need help you can visit our <a href="http://LegalClad/en/learn/" style="color:#34a7c1" target="_blank">learn &amp; support</a> or email us at <a href="mailto:support@LegalClad" style="color:#34a7c1" target="_blank">support@<span class="il">LegalClad</span></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="https://ci3.googleusercontent.com/proxy/BzBsabOlPHCb2XNX0BAjgWmiBEZGGPDQ85HW2oJDT-PLL2KrJ0d-6lXWwQHiGW5PzNAskoVRhew_gshJuPcY8UGoA2D1NcQ9b6uw05U=s0-d-e1-ft#http://static.LegalClad/images/emails/footer_twitter.png" alt="Twitter" title="Twitter" style="margin-right:5px" class="CToWUd"> Follow us on twitter <a href="http://twitter.com/LegalCladio" style="color:#34a7c1" target="_blank">@<span class="il">LegalClad</span></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="https://ci5.googleusercontent.com/proxy/-Mk-DnOFyg35XpuLKYCputcRwskfHfa4uvcKcZK2anYVwGTZWwrAv14HK8R6aTalV4aeBMmZ4mMDpOHySVIx6fHDqn8VFghhw0ILwc03=s0-d-e1-ft#http://static.LegalClad/images/emails/footer_facebook.png" alt="Facebook" title="Facebook" style="margin-right:5px" class="CToWUd"> Visit us on facebook <a href="http://www.facebook.com/LegalCladio" style="color:#34a7c1" target="_blank">facebook.com/legal Clad</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="https://ci3.googleusercontent.com/proxy/ldcq2A6W2-I31zVak5Ey2Qc5kNmmyFvDYM5JyElVBQdEF7jSWBv4O0E82Fg3c4AYLNyYpXTXisD6aH5TUYK5zRd_ljX_AGfzov8=s0-d-e1-ft#http://static.LegalClad/images/emails/footer_blog.png" alt="Blog" title="Blog" style="margin-right:5px" class="CToWUd"> Latest from our blog 
                        <a href="http://blog.LegalClad/10-mobile-app-LegalCladtyping-best-practices-that-result-in-a-stellar-finished-product/" style="color:#34a7c1" target="_blank">Four things to look our for when taking investor money</a>
                        
                                            </td>
                                        </tr>
                                    </tbody></table>
                                </td>
                            </tr>
                        </tbody></table>
                    </td>
                </tr>
            </tbody></table>