{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">  
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />    
    <title> Stack Law Web | {% block page_title %} {% endblock page_title %}</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="law/lib/images/favicon.png">
    <meta name="description" content="Simple - Responsive Landing Page Template">
    <meta name="author" content="Simple - Responsive Landing Page Template">
    
    <link rel="stylesheet" href="{% static 'law/lib/css/style.css' %}">
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
    


    <!-- 1140px Grid styles for IE -->
    <!--[if lte IE 9]><link rel="stylesheet" href="law/lib/css/ie.css" type="text/css" media="screen" /><![endif]-->

    <!-- CSS concatenated and minified via ant build script-->
    
</head>

<body><!-- Latest compiled and minified JavaScript -->

        <!--begin container -->
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url "law:index" %}"><i class="fa fa-balance-scale"></i>Law</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class=""><a href="#"><i class="fa fa-edit" style="color:green"></i>  Create</a> <span class="sr-only">(current)</span></a></li>
        <li><a href="{% url "law:review" %}"><i class="fa fa-folder-open" style="color:red"></i>  Review</a></li>

        {% if user.is_authenticated %}
              <li><a href="{% url "law:logout" %}">Log out</a></li>
        {% else %}
            {% if page_title == "Login" %}
                
            {% else %} 
              <li><a href="{% url "law:login" %}">Please Login</a></li>
            {% endif %}
        {% endif %}
        
      </ul>
      
    
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

    <!-- body -->
    <div class="container">
        {% block page_body %} {% endblock page_body %}
    </div>

    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    
</body>
</html>