{% extends "law/base_template.html" %}


{% block page_title %}
    Index
{% endblock page_title %}


{% block page_body %}
    
    <div class="">
        <div class=" create col-lg-4 col-md-4">
            <a href="#"><button type="button" class="btn btn-lg btn-success"><i class="fa fa-edit fa-5x"></i>Create Contract</button></a>
        </div>
        
        <div class="review col-lg-4 col-md-4">
            <a href="{% url "law:review" %}"><button type="button" class="btn btn-lg btn-warning"><i class="fa fa-file-text fa-4x"></i> Review Contract</button></a>
        </div>

        <div class="ask col-lg-4 col-md-4">
            <button type="button" class="btn btn-lg btn-primary">Ask a lawyer</button>
        </div>

    </div>
    
    
        
        
        




{% endblock page_body %}